body {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    user-select: none;
}

#background {
    position: absolute;
    top: 0%;
    left: 0%;
}

#version {
    bottom: 0;
    left: 0%;
    color: black;
    font-size: calc(1vw + 1vh);
    position: fixed;
}

#backgroundColor {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#titleText {
    color: white;
    font-family: serif;
    font-size: 6vw;
    font-weight: bold;
    position: fixed;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#icon {
    aspect-ratio: 1 / 1;
    border-radius: 25%;
    max-width: 100vw;
    max-height: 100vh;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.25);
    width: 100vw;
    height: calc(1 / 1 * 100vw);
    z-index: 1;
}

@media (max-aspect-ratio: 1 / 1) {
    #titleText {
        text-orientation: upright;
        writing-mode: vertical-rl;
        top: 50%;
    }

    #icon {
        top: 82%;
        left: 75%;
    }
}

@media (min-aspect-ratio: 1 / 1) {
    #titleText {
        font-size: 6vh;
    }

    #icon {
        width: calc(1 / 1 * 100vh);
        height: 100vh;
    }
}

#guideSetting {
    position: fixed;
    top: 10%;
    left: 48%;
    transform: translate(-50%, -50%);
}

#addDead,
#guideText1 {
    font-size: calc(2vw + 2vh);
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

#addDead {
    font-size: calc(3vw + 3vh);
}

#guideText1 {
    transform: translate(10%, 18%);
}


#setting {
    position: absolute;
    top: 0vh;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0%);
}

#removeSelect,
#addSelect {
    color: black;
    font-size: calc(2vw + 2vh);
    font-weight: bold;
    text-decoration: none;
}

#sect {
    font-size: calc(2vw + 2vh);
    font-weight: bold;
    text-decoration: none;
    width: calc(17vw + 17vh);
}

#JCSelect,
#monthSelect {
    font-size: calc(2vw + 2vh);
    font-weight: bold;
    text-decoration: none;
}


#deceasedText {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, 0%);
}

#dharmaName,
#lastName,
#fastName {
    border: none;
    border-bottom: calc(0.15vw + 0.15vh) solid black;
    font-size: calc(2vw + 2vh);
    font-weight: bold;
    outline: none;
    width: calc(12vw + 12vh);
}

#dharmaName {
    width: calc(23vw + 23vh);
    ;
}

#JCSelect,
#JCText,
#year,
#monthText,
#month,
#dayText,
#day,
#ageAtDeath,
#ageText,
#age {
    border: none;
    border-bottom: calc(0.15vw + 0.15vh) solid black;
    font-size: calc(2vw + 2vh);
    font-weight: bold;
    outline: none;
    text-align: center;
    width: calc(6vw + 6vh);
}

#monthText,
#month,
#dayText,
#day {
    width: calc(6vw + 6vh);
}

#ageAtDeath,
#ageText,
#age {
    width: calc(8vw + 8vh);
}

#mortuaryTabletPosition {
    aspect-ratio: 513 / 1024;
    max-width: 100vw;
    max-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: calc(1024 / 513 * 100vw);
    z-index: 3;
}


#backMortuaryTablet,
#chartMortuaryTablet {
    color: rgb(255, 255, 255);
    font-family: serif;
    font-size: calc(1024 / 513 * 5vw);
    font-weight: bold;
    position: fixed;
    text-decoration: none;
    text-orientation: upright;
    top: 36%;
    left: 89%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    writing-mode: vertical-rl;
    z-index: 2;
}

#mortuaryTabletAddChange,
#mortuaryTabletChangeText,
#mortuaryTabletRemoveChange {
    color: rgb(255, 255, 255);
    font-family: serif;
    font-size: calc(1024 / 513 * 5vw);
    font-weight: bold;
    position: fixed;
    text-decoration: none;
    text-orientation: upright;
    top: 36%;
    left: 11%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    writing-mode: vertical-rl;
    z-index: 2;
}

#mortuaryTabletAddChange {
    top: 18%;
}

#mortuaryTabletRemoveChange {
    top: 54%;
}

#annoDominiTextPosition,
#name1TextPosition,
#name2TextPosition,
#dateTextPosition,
#ageTextPosition {
    color: rgb(191, 191, 143);
    font-family: serif;
    font-size: calc(1024 / 513 * 3.5vw);
    font-weight: bold;
    position: fixed;
    text-orientation: upright;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    writing-mode: vertical-rl;
    z-index: 2;
}

#annoDominiTextPosition {
    left: 60%;
}

#dateTextPosition {
    left: 40%;
}

#ageTextPosition {
    top: 48%;
    left: 40%;
}



#mortuaryTablet {
    aspect-ratio: 513 / 1024;
    max-width: 100vw;
    max-height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: calc(1024 / 513 * 100vw);
    z-index: 1;
}

@media (min-aspect-ratio: 513 / 1024) {

    #mortuaryTabletPosition,
    #mortuaryTablet {
        width: calc(513 / 1024 * 100vh);
        height: 100vh;
    }

    #backMortuaryTablet,
    #chartMortuaryTablet,
    #mortuaryTabletAddChange,
    #mortuaryTabletChangeText,
    #mortuaryTabletRemoveChange {
        font-size: 5vh;
    }

    #annoDominiTextPosition,
    #name1TextPosition,
    #name2TextPosition,
    #dateTextPosition,
    #ageTextPosition {
        font-size: 3.5vh;
    }
}